@import "./variables.scss";
@import "../node_modules/bootstrap-scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,900&display=swap');
@import "./markdown.scss";
@import "./audioplayer.scss";

.bg-navbar {
    background-color: #1c1c1c;
}

.single-episode {
    padding: 4rem 2rem;
}

footer {
    background-color: $gray-400;
    color: $body-bg;
    @extend .pt-2;
    @extend .px-4;
    @extend .pb-4;
    
    ul {
        list-style-type: none;
        padding-inline-start: 20px;
    }

    ul.links {
        font-family: 'Raleway';
        font-weight: 600;
        text-transform: uppercase;

        li {
            margin-right: 14px;
            display: inline-block;
            padding-bottom: 0.8em;
        }
    }

    h4 {
        font-family: 'Merriweather', serif;
        font-size: 1.2em !important;
    }
    a {
        color: $black;  
    }

    a:hover {
        color: $yellow;
    }
}

ul.whereToListen {
    display: block;
    list-style: none;
    padding-left: 0;
    li {
        margin-right: 14px;
        display: inline-block;
        padding-bottom: 0.8em;
    }
}

.newsletter {
    background-color: $gray-600;
    @extend .py-2;
    @extend .mb-2;
    h2 {
        font-family: $font-family-sans-serif;
        font-weight: bold;
        color: $white;
    }
}

.episodes {
    h2 {
        color: $white;
    }
    #episodeBlock {
        height: 470px;
        overflow: auto;
    }
 }

 .rss-episode {
     h2 {
        font-family: 'Merriweather', serif;
        font-size: 1.4em;
        color: $yellow;
        padding: 1.2em;
   }
     h3 {
         font-family: 'Merriweather', serif;
         font-weight: 900;
         font-size: 1.2em;
         font-variant: small-caps;
     }

     p {
        line-height: 1.4em;
        font-size: 0.94em;
        font-family: 'Raleway';         
     }

     .description {
         padding-left: 1em;
         color:$white;
     }

     a {
         color: $yellow;
     }

     a:hover {
         color: $white;
     }
 }
.topContainer {
    h1 {
        color: $yellow;
    }
}


