.sidebar-module {
  padding: 1rem;
}
.sidebar-module-inset {
  padding: 1rem;
  border-radius: 0.25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
.markdown {
  margin-top: 5em;
  margin-bottom: 2em;
}
.markdown .post {
  margin-bottom: 4rem;
}
.markdown .post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.markdown .post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
